@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
    <title>Search</title>
</head>
<body>
    <h1> Welcome To GitHub Repository Search Engine</h1>
    <img class="home_image" src="~/images/github2.png" />
</body>
</html>